body
{
    background-color: seashell;
}
.alert {

    letter-spacing: 1px;
    margin-bottom: 0px;


}
.container
{
    position: relative;

}

nav{
    letter-spacing: 1px;
}

footer
{
    background-image: linear-gradient(to bottom right, #31363e, #171c22);
    color: seashell;
}
footer p
{
    color: seashell;
}

footer .nav-link
{
    color: #525252;
    transition: ease-in-out .25s;
}

footer .nav-link:hover
{
    color: rgba(121, 121, 121, 0.6);
}

header .nav-link
{
    color: #ffffff;
    transition: ease-in-out .25s;
}

header .nav-link:hover
{
    color: rgba(127, 200, 10, 0.39);
}
.dropdown-menu
{
    background-color: #171c22;
    background-repeat: no-repeat;
    background-size: cover;
}
.dropdown-item
{
    color: seashell;
    transition: ease-in-out .25s;
}

.dropdown-item:hover
{
    color: #ebc1a8;
    background-color: #171c22;
}

.menu{
    background-image: url(../images/background_menu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.titre_index{
    font-family: "delimax";
    src: url("../typo/Delimax.ttf");
}

.titre_menu{
    font-family: "delimax";
    src: url("../typo/Delimax.ttf");
    color: seashell;
}

.navbar-toggler-icon
{
    color: white;
}

.insta
{
    width: 75px;
    height: 75px;
}

.logo
{
    width: 150px;
    height: 150px;
}

.logotop
{
    width: 80px ;
    height: 80px;
}

.logotop2
{
    width: 80px ;
    height: 80px;
}

.thumbnail
{
    width: 100px ;
    height: 100px;
}