body
{
    background-color: seashell;
}

.container
{
    position: relative;
}

header
{
    background-color: #171c22;
    color: seashell;
    letter-spacing: 1px;
}

footer
{
    background-image: linear-gradient(to bottom right, #31363e, #171c22);
    color: seashell;
}
footer p
{
    color: seashell;
}

footer .nav-link
{
    color: seashell;
    transition: ease-in-out .25s;
}

footer .nav-link:hover
{
    color: #ebc1a8;
}

header .nav-link
{
    color: seashell;
    transition: ease-in-out .25s;
}

header .nav-link:hover
{
    color: #ebc1a8;
}


.dropdown-menu
{
    background-color: #171c22;
    background-repeat: no-repeat;
    background-size: cover;
}
.dropdown-item
{
    color: seashell;
    transition: ease-in-out .25s;
}

.dropdown-item:hover
{
    color: #ebc1a8;
    background-color: #171c22;
}

.menu{
    background-image: url(../images/background_menu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.titre_index{
    font-family: "delimax";
    src: url("../typo/Delimax.ttf");
}

h1, h2, h3{
    font-family: "delimax";
    src: url("../typo/Delimax.ttf");
}

.titre_menu{
    font-family: "delimax";
    src: url("../typo/Delimax.ttf");
    color: seashell;
}

.navbar-toggler-icon
{
    color: white;
}

.insta
{
    width: 75px;
    height: 75px;
}

.logo
{
    width: 150px;
    height: 150px;
}

.logotop
{
    width: 250px ;
    height: 75px;
}

.menusimage
{
    width: 150px;
    height: 150px;
}

.souligner
{
    text-decoration:underline;
    font-weight: bold;
}

.propos1
{
    padding-top: 120px;
}

.propos2
{
    padding-top: 20px;
}

.partenaire
{
    width: 120px;
    height: 120px;
}

.partenairecocci
{
    width: 200px;
    height: 200px;
}

.presentation
{
    width: 200px;
    height: 200px;
}