{% extends 'layout.html.twig' %}
{% block image_url %}/assets/images/banner.jpg{%  endblock %}

{% block content %}
    <section>
        <div class="container py-5">
            <div class="row">
                <div class="col-8 offset-2 card p-4 text-center" >
                    <div class="card-title">
                        <h2>Votre réservation a été prise en compte !</h2>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted">Un email de confirmation vous a été envoyé à l'adresse {{ email }}</small></p>
                        <p class="card-text">Merci d'avoir réservé une prestation ! <br/>
                            La reservation sera examinée par le Chef sous 24h. <br/>
                            Vous recevrez toutes les infos complémentaires par mail.</p>
                        <p class="card-tetx">A très bientôt !</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}